{% extends "base.html" %}
{% block content %}
<h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Таблица нижней одежды</h1>
<br>
<table class="table table-bordered">
    <thead>
    <tr class="table-primary">
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">color</th>
        <th scope="col">size</th>
        <th scope="col">fabric</th>
        <th scope="col">pattern</th>
        <th scope="col">picture</th>
    </tr>
    </thead>
    <tbody>
    {% for item in range(count_cols) %}
    <tr>
        <th scope="row">{{ data[item][0] }}</th>
        <td>{{ data[item][1] }}</td>
        <td>{{ data[item][2] }}</td>
        <td>{{ data[item][3] }}</td>
        <td>{{ data[item][4] }}</td>
        <td>{{ data[item][5] }}</td>
        <td>{{ data[item][6] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}