{% extends "base.html" %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">{{ data['name'] }}</h1>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <p class="col- fs-4">
    {% for item in data %}
        {{item}}: {{data[item]}}<br>
        {% endfor %}
    </p>
    <div class="col-md-10 mx-auto col-lg-5">
        {% if picture != '' %}
            <img src="{{picture}}" width="600" height="600">
        {% else %}
            <img src="/static/img/data/no_photo.png" width="600" height="600">
        {% endif %}
    </div>
</div>
{% if map != '' %}
            <img src="{{map}}" width="450" height="450">
        {% endif %}
{% endblock %}
