{% extends "base.html" %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Контакты</h1>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <p class="col- fs-4">
    По всем интересующим вопросам, обращайтесь по почте: <br>
        <a href="mailto: tritium64@mail.ru">tritium64@mail.ru</a>
    </p>
    <div class="col-md-10 mx-auto col-lg-5">
        <img src="/static/img/backs/img.png">
    </div>
</div>
{% endblock %}