{% extends "base.html" %}
{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">О нас</h1>
            <p class="col-lg-10 fs-4">Данный сайт создан как помощник дизайнерам, а также писателям. В нем можно хранить
                и обрабатывать информацию об одежде, сортировать по элементам или годам. Он позволяет быстро узнать, что
                носили люди в какой-либо стране в каком году.</p>
            <p class="col-lg-10 fs-4">Также на данном сайте можно сохранять одежду с определенными характеристиками,
                например, чтобы составить гардероб для какого-либо персонажа.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" enctype="multipart/form-data" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-floating mb-3">
                    {{ form.email(type="email", class="form-control", id="email", placeholder="name@example.com") }}
                    <label for="email">Email address</label>
                </div>
                {% for error in form.email.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
        </div>
    {% endfor %}
                <div class="form-floating mb-3">
                    {{ form.password(type="password", class="form-control", id="password", placeholder="Password") }}
                    <label for="password">Password</label>
                </div>
                {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
        </div>
    {% endfor %}
                <div class="checkbox mb-3">
                    <label>
                        {{ form.remember_me(type="checkbox", value="True", id="remember-me") }} Запомнить меня
                    </label>
                </div>
                {{ form.submit(class="w-100 btn btn-lg btn-primary", type="submit") }}
                <br>
                <br>
                <a href='/register'
                   style="width:100x;height:45px;display:flex;align-items:center;justify-content:center"
                   class="w-100 btn btn-outline-primary me-2">Регистрация</a>
                <div>{{ message }}</div>
                <hr class="my-4">
                <small class="text-body-secondary">Нажимая на Регистрация, вы соглашаетесь с Условиями
                    пользования.</small>
            </form>
        </div>
    </div>
</div>

{% endblock %}