{% extends "base.html" %}
{% block content %}
<h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Таблица верхней одежды</h1>
<br>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.sort_str.label }}<br>
        {{ form.sort_str(class="form-control") }}<br>
        {% for error in form.sort_str.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
<br>
<table class="table table-bordered">
    <thead>
    <tr class="table-primary">
        <th scope="col">Название</th>
        <th scope="col">Сезон</th>
        <th scope="col">Место происхождения</th>
        <th scope="col">Год появления</th>
        <th scope="col">Начало популярности</th>
        <th scope="col">Конец популярности</th>
        <th scope="col">Рукава</th>
        <th scope="col">Метод застегивания</th>
        <th scope="col">Воротник</th>
        <th scope="col">Капюшон</th>
        <th scope="col">Лацканы</th>
        <th scope="col">Карманы</th>
        <th scope="col">Приталенный</th>
        <th scope="col">Дополнительная информация</th>
        <th scope="col">Изображение</th>
        {% if current_user.is_authenticated and current_user.access >= 2 %}
        <th scope="col"></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for item in range(count_cols) %}
    <tr>
        <th scope="row"><a href="/show/Upper_body/{{data[item][15]}}"> {{ data[item][0] }} </a></th>
        <td>{{ data[item][1] }}</td>
        <td>{{ data[item][2] }}</td>
        <td>{{ data[item][3] }}</td>
        <td>{{ data[item][4] }}</td>
        <td>{{ data[item][5] }}</td>
        <td>{{ data[item][6] }}</td>
        <td>{{ data[item][7] }}</td>
        <td>{{ data[item][8] }}</td>
        <td>{{ data[item][9] }}</td>
        <td>{{ data[item][10] }}</td>
        <td>{{ data[item][11] }}</td>
        <td>{{ data[item][12] }}</td>
        <td>{{ data[item][13] }}</td>
        <td>{{ data[item][14] }}</td>
        {% if current_user.is_authenticated and current_user.access >= 2 %}
        <td><a class="btn btn-primary" href="/clothes/edit/Upper_body/{{data[item][15]}}" role="button">Изменить</a><br><br>
            <a class="btn btn-primary" href="/clothes/del/Upper_body/{{data[item][15]}}" role="button">Удалить</a></td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}